@charset "UTF-8";
html[data-v-13010650] {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
}

/* 初始化 */
body[data-v-13010650],
div[data-v-13010650],
ul[data-v-13010650],
li[data-v-13010650],
ol[data-v-13010650],
h1[data-v-13010650],
h2[data-v-13010650],
h3[data-v-13010650],
h4[data-v-13010650],
h5[data-v-13010650],
h6[data-v-13010650],
input[data-v-13010650],
textarea[data-v-13010650],
select[data-v-13010650],
p[data-v-13010650],
dl[data-v-13010650],
dt[data-v-13010650],
dd[data-v-13010650],
a[data-v-13010650],
img[data-v-13010650],
button[data-v-13010650],
form[data-v-13010650],
table[data-v-13010650],
th[data-v-13010650],
tr[data-v-13010650],
td[data-v-13010650],
tbody[data-v-13010650],
article[data-v-13010650],
aside[data-v-13010650],
details[data-v-13010650],
figcaption[data-v-13010650],
figure[data-v-13010650],
footer[data-v-13010650],
header[data-v-13010650],
hgroup[data-v-13010650],
menu[data-v-13010650],
nav[data-v-13010650],
section[data-v-13010650] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html[data-v-13010650],
body[data-v-13010650] {
  width: 100%;
}
img[data-v-13010650] {
  vertical-align: top;
}
.ellipsis[data-v-13010650] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis2[data-v-13010650] {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/** 加载样式 **/
.loading[data-v-13010650] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 60vh;
  background: rgba(0, 0, 0, 0.6);
  animation-duration: 0.75s;
  z-index: 99;
}
.fade-leave[data-v-13010650] {
  opacity: 1;
}
.fade-leave-active[data-v-13010650] {
  transition: all 0.5s;
}
.fade-leave-to[data-v-13010650] {
  opacity: 0;
}
.character[data-v-13010650] {
  height: 100vh;
  background: #f8fefc;
}
.celebrity[data-v-13010650] {
  width: 100%;
  min-height: 4.8rem;
  padding: 0.533333rem 0.506667rem 0.4rem 0.4rem;
}
.celebrity .cb_con[data-v-13010650] {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.56rem 0.533333rem 0.506667rem 0.533333rem;
  border-radius: 0.266667rem;
}
.celebrity .cbg0[data-v-13010650] {
  background: linear-gradient(180deg, #f8f7fa 0%, #ecedf5 100%);
}
.celebrity .cbg1[data-v-13010650] {
  background: linear-gradient(180deg, #f9f9f9 0%, #f1f3f5 100%);
}
.celebrity .cbg2[data-v-13010650] {
  background: linear-gradient(180deg, #faf7f7 0%, #f5ecec 100%);
}
.celebrity .cbg3[data-v-13010650] {
  background: linear-gradient(180deg, #f9f9f9 0%, #f1f5f3 100%);
}
.celebrity .cbg4[data-v-13010650] {
  background: linear-gradient(180deg, #f8faf7 0%, #f1f5ec 100%);
}
.celebrity .cbg5[data-v-13010650] {
  background: linear-gradient(180deg, #f8fbfb 0%, #eef7f7 100%);
}
.celebrity .cbImg[data-v-13010650] {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.266667rem;
  margin-right: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.celebrity .cbImg img[data-v-13010650] {
  width: 100%;
  height: 100%;
}
.celebrity .cb_r[data-v-13010650] {
  padding-top: 0.24rem;
}
.celebrity .cb_name[data-v-13010650] {
  font-size: 0.48rem;
  font-weight: 500;
  color: #2e4747;
  line-height: 0.666667rem;
  margin-bottom: 0.106667rem;
}
.celebrity .cb_english[data-v-13010650] {
  font-size: 0.32rem;
  color: #999999;
  line-height: 0.453333rem;
  margin-bottom: 0.773333rem;
}
.celebrity .cb_time[data-v-13010650] {
  font-size: 0.32rem;
  color: #999999;
  line-height: 0.453333rem;
}
.introduce[data-v-13010650] {
  width: 100%;
  height: calc(100% - var(--nameHeight));
  overflow-y: scroll;
  padding: 0.4rem 0.453333rem;
  font-size: 0.426667rem;
  color: #2e4747;
  line-height: 0.853333rem;
}
.collect[data-v-13010650] {
  position: absolute;
  bottom: 3.333333rem;
  left: 4.106667rem;
  width: 1.813333rem;
  height: 1.813333rem;
  border-radius: 50%;
  text-align: center;
  background: #ffffff;
  font-size: 0.32rem;
  color: #999999;
  line-height: 0.453333rem;
}
.collect img[data-v-13010650] {
  width: 0.586667rem;
  height: 0.613333rem;
  margin: 0.32rem 0 0.106667rem 0;
}
